/* GENERALE */

html, body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    overflow-x: visible;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* NAVBAR */


ul{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 32px;
}

li{
  position: relative;
  cursor: pointer;
  margin-right: 50px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

li a{
  color: black;
  font-size: 1.2vw;
}

li::before {
  content: '';
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 100%;
  background: black;
  transform: scale(0, 0);
  transition: 0.5s ease;
} li:hover::before {
  transform: scale(1, 1);
}


/* BIENVENUE */

.Bienvenue {
    background-color: red;
    width: 100%;
    height: 100%;
    animation: test-1 1.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt{ 
    overflow: hidden;
    display: none;
    text-transform: uppercase;
    font-size: 10vw;
}

.txt span{
    animation: test-1 1s ease-in-out forwards;
    display: inline-block;
}

/* ACCEUIL */
  
.div-arriver{
    background-color: rgb(66, 66, 66);
    width: 100%;
    height: 90%;
    display: flex;
}

.infos{
    padding: 50px;
}

.infos h1{
    font-size: 5vw;
    color: rgb(165, 143, 103);
}

.infos a{
    border: solid 1px  rgb(165, 143, 103);
    padding: 15px;
    border-radius: 10%;
    font-size: 1.6vw;
    color: rgb(165, 143, 103);
}

.infos p{
    margin-bottom: 50px;
    font-size: 1.2vw;
    color: rgb(165, 143, 103);
}

.img-droite{
    padding: 50px;
    display: flex;
    align-items: center;
}

.img-droite img{
    border-radius: 20px;
    width: 45vw;
    
}




/* ABOUT ME */

.about-me{
  width: 100%;
  height: 100%;
}


.about-me-2{
    display: flex;


}

.about-me>h1{
    display: flex;
    justify-content: center;
    font-size: 3.5vw;
}

.about-me>h1 span{
    border-bottom: solid 1px black;
    padding: 10px;
}

.about-gauche>h2{
    width: 50%;
    font-size: 2.2vw;
}

.about-gauche p{
    margin-bottom: 50px;
    font-size: 1.2vw;
}

.about-gauche{
    padding: 50px;
}

.about-gauche a{
  border: solid 1px black;
  padding: 15px;
  border-radius: 10%;
  font-size: 1.6vw;
  color: #000;
}





/* CARD */
/* Styles pour les balises personnalisées "card" */

.dcard{
  width: 100%;
  height: 100%;
}


.dcard>h1{
  display: flex;
  justify-content: center;
  font-size: 3.5vw;
}

.dcard>h1 span{
  border-bottom: solid 1px black;
  padding: 10px;
}

card {
    display: inline-block;
    margin: 10px;
    width: 1000px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px;
  }
  
  .card-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }


body {  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1.5em;
}

h1+p, p+p {
  margin-top: 10px;
}

.container {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
  /* // background-color: #fff; */
  
  &:hover {
    .card-info {
      transform: translateY(0);
    }
    .card-info p {
      opacity: 1;
    }
    .card-info, .card-info p {
      transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .card-info:after {
      transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
      opacity: 1;
      transform: translateY(0);
    }
    .card-bg {
      transition: 
        0.6s cubic-bezier(0.23, 1, 0.32, 1),
        opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
      opacity: 0.8;
    }
    .card {
      transition:
        0.6s cubic-bezier(0.23, 1, 0.32, 1),
        box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
      box-shadow:
        rgba(white, 0.2) 0 0 40px 5px,
        rgba(white, 1) 0 0 0 1px,
        rgba(black, 0.66) 0 30px 60px 0,
        inset #333 0 0 0 5px,
        inset white 0 0 0 6px;
    }
  }
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 19vw;
  height: 24.7vw;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    rgba(black, 0.66) 0 30px 60px 0,
    inset #333 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px; left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition:
    1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(50%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  
  p{
    opacity: 0;
    text-shadow: rgba(black, 1) 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  * {
    position: relative;
    z-index: 1;
  }
  
  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%);
    background-blend-mode: overlay;
    opacity: 0;
    transform: translateY(100%);
    transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
  text-shadow: rgba(black, 0.5) 0 10px 10px;
}


/* CONTACT ME */


.contact-me{
  width: 100%;
  height: 100%;
  background-color: rgb(66, 66, 66);
}

.contact-me>h1{
    display: flex;
    justify-content: center;
    font-size: 3.5vw;
    color: rgb(165, 143, 103);
}

.contact-me>h1 span{
    border-bottom: solid 1px rgb(165, 143, 103);
    padding: 10px;
    margin: 70px;
}

.con {
  max-width: 50vw;
  margin: 0 auto;
  padding: 50px;
  background-color: rgb(66, 66, 66);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

form{
  max-height: 50%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: rgb(165, 143, 103);
}

input::placeholder,
textarea::placeholder {
  color: white;
}

input:hover,
textarea:hover,
button:hover {
  opacity: 0.5;
}

input[type="text"],
textarea {
  background-color: rgb(66, 66, 66);
  width: 50vw;
  padding: 10px;
  margin-bottom: 10px;
  border: none; /* Supprime les autres bordures */
  border-bottom: 1px solid #ccc; /* Utilisation de la bordure inférieure */
  outline: none; /* Retire la bordure de focus */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


/* ANIMATION */


@keyframes test-1 {
  0% {
      transform: translateY(+100%);
  }
  100% {
      transform: translateY(0%);
  }
}

@keyframes test-2 {
  0% {
      transform: translateY(0%);
  }
  100% {
      transform: translateY(-100%);
  }
}

.hidden {
  display: none;
}